/* Global Reset */
*,
*::before,
*::after {
  box-sizing: border-box;
}

* {
  margin: 0;
  padding: 0;
  font: inherit;
  text-decoration: none;
}

/* Anchor Tag Styles */
a,
a:visited,
a:active {
  color: inherit;
  transition: 200ms ease-in-out;
}

a:hover {
  color: #bd5b94;
  text-decoration: underline;
}

/* Responsive Media */
img,
picture,
svg,
video {
  display: block;
  max-width: 100%;
}

/* Body */
body {
  font-family: roboto, sans-serif;
}

/* Header and Nav */
header {
  display: flex;
  justify-content: center;
  max-width: 100vw;
  background: black url(/img/bg_header.jpg) top / cover no-repeat;
  padding-bottom: 30rem;
}

nav {
  position: fixed;
  top: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 90%;
  margin-top: 2.8rem;
  padding: 1.5rem;
  background-color: #fff;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);
}

.links-container {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: 100%;
  text-align: center;
}

nav a {
  display: flex;
  align-items: center;
  padding: 0 1.2em;
  font-size: 1.5rem;
  color: black;
}

/* Sidebar Buttons */
#sidebar-active {
  display: none;
}

.open-sidebar-button,
.closed-sidebar-button {
  display: none;
  padding: 0 1em;
}

/* CTA Section */
#cta-section {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 2rem;
  padding: 14rem 1.5rem;
  font-size: 2.25rem;
  color: #fff;
  background-color: #587291;
  text-align: center;
}

.btn {
  padding: 0.5em 1.5em;
  font-size: 1.5rem;
  color: #fff;
  background: #5b2e48;
  border: none;
  border-radius: 10px;
  cursor: pointer;
  box-shadow: 0 4px 4px rgba(0, 0, 0, 0.2);
  transition: 200ms ease-in-out;
}

.btn:hover {
  background-color: #bd5b94;
}

/* Footer Links */
.links-footer {
  display: flex;
  justify-content: flex-end;
  gap: 1em;
  padding: 1.5rem 4rem;
  font-size: 1rem;
}

/* Responsive Styles */
@media (max-width: 622px) {
  #cta-section {
    padding: 8rem 1.5rem;
    font-size: 1.5rem;
  }

  nav {
    margin-top: 0;
    width: 100%;
  }

  .links-container {
    display: none;
    position: fixed;
    top: 0;
    z-index: 10;
    flex-direction: column;
    width: 100%;
    height: 50%;
    background-color: #fff;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);
  }

  nav a {
    width: 100%;
    padding: 0.5em 1em;
    justify-content: center;
  }

  .open-sidebar-button,
  .closed-sidebar-button {
    display: block;
  }

  .closed-sidebar-button {
    margin-bottom: 3rem;
  }

  #sidebar-active:checked ~ .links-container {
    display: flex;
  }

  .links-footer {
    flex-direction: column;
    gap: 0.5em;
    padding: 1em;
    text-align: center;
  }
}
